
<div>
    <img src= "/asset/images/<%= image %>"< alt="user-photo" id="user-photo">
</div>
<div id="sidebar-hello">Hello,</div>
<div id="sidebar-user-name"><%= name %></div>
<div class="sidebarText <%= highlightDashboard %>" id="dashboardText">Dashboard</div>
<div class="sidebarText <%= highlightAppliedJob%>" id="viewAppliedJobsText">View Applied Jobs</div>
<div class="sidebarText <%= highlightSearchJob%>" id="searchJobText">Search Jobs</div>
