<%- include('partials/head',{title: 'employers'}) %>

<%- include('partials/navbar') %>


<div class="row">
    <div class="col-sm-2" id="sidebarCol">
        <%- include('partials/sidebar' , {highlightDashboard: '', highlightViewJob: 'highlight', highlightPostJob:'', name: `${name}`}) %>
    </div>
        <main class="col-sm-7 post-new-job-col" id="mainCol">
        
        
    <%_ if(job.job_status == 'open'){ _%>
            <div class="view-job-byId-card">
                <div class="post-new-job-title">Open Job</div>

                <form class="postNewJob">
                    <fieldset disabled>
                        <div class="post-new-job-group">
                            <div class="form-group">
                              <label class="label-text"for="job-address">Address *</label>
                              <input type="text"  name= "address" id="job-address" class="form-control" value="<%= job.address %>">
                            </div>
                            <d  iv class="form-group">
                              <label class="label-text"for="job-suburb">Suburb *</label>
                              <input type="text"  name= "suburb" id="job-suburb" class="form-control" value="<%= job.suburb %>">
                            </d>
                        </div>
                        <div class="post-new-job-group">
                            <div class="form-group">
                              <label class="label-text"for="job-city">City *</label>
                              <input type="text"  name= "city" id="job-city" class="form-control" value="<%= job.city %>">
                            </div>
                            <div class="form-group">
                              <label class="label-text"for="job-state">State *</label>
                              <input type="text"  name= "state" id="job-state" class="form-control" value="<%= job.state %>">
                            </div>
                            <div class="form-group">
                              <label class="label-text"for="job-postcode">Postcode *</label>
                              <input type="text"  name= "postcode" id="job-postcode" class="form-control" value="<%= job.postcode %>">
                            </div>
                        </div>
                        <div class="post-new-job-group group2">
                            <div class="form-group">
                              <label class="label-text" for="start-date">Start Date *</label>
                              <input type="date" class="form-control" id="start-date" name="start_date" value="<%= job.start_date %>">
                            </div>
                            <div class="form-group">
                              <label class="label-text" for="end-date">End Date *</label>
                              <input type="date" class="form-control" id="end-date" name="end_date" value="<%= job.end_date %>">
                            </div>
                        </div> 
                        <div class="post-new-job-group group2">
                            <div class="form-group">
                              <label class="label-text" for="site-manager">Site Manager *</label>
                              <input type="text" class="form-control" id="site-manager" name="site_manager" value="<%= job.site_manager %>">
                            </div>
                            <div class="form-group">
                              <label class="label-text" for="labour-quantity">Number of Labourer Required *</label>
                              <input type="number" class="form-control" id="labour-quantity" name="number_of_labourers" value="<%= job.number_of_labourers %>" min="1" max="20" data-numberOfLabourers="<%= job.number_of_labourers %>">
                            </div>
                        </div>
                        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span> <span class="msg">  Please fill in all the compulsory fields</span>
                        </div>
                            
                    </fieldset>
                    <button type="" class="btn btn-primary mb-2" id="editJob" data-jobid="<%= job.id %>">Edit</button>
                    <button type="" class="btn btn-primary mb-2" id="deleteJob" data-jobid="<%= job.id %>">Delete</button>
                </form>
            </div>
        </main>
        <aside class="col-sm-3" id="list-of-applicants-col">
            <div class="list-of-applicants-card">
                <div>List of Applicants <span><button id="choseApplicantsButton">Choose Applicants</button></span></div>
                <br>
                <% for (let user of applicants){ %>
                    <div class="userCard flip-card" data-userid="<%= user.User.Labourer.UserId %>">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <div class="labourer-photo-background">
                                    <img src="/asset/images/user-icon.svg" alt="user-photo" class="labourer-photo">
                                </div>
                                <div class="labourer-name-front-side"><%= user.User.Labourer.first_name + " " + user.User.Labourer.last_name %></div>
                            </div>
                            <div class="flip-card-back">
                                <div>Name: <%= user.User.Labourer.first_name + " " + user.User.Labourer.last_name %> </div>
                                <hr>
                                <div>Driver Licence: 
                                    <%_ if (user.User.Labourer.driver_license){ _%>
                                        YES
                                    <%_ }else{ _%>
                                        NO
                                    <%_ } _%>
                                </div>
                                <hr>
                                <div>Whitecard: 
                                    <%_ if (user.User.Labourer.whitecard){ _%>
                                        YES
                                    <%_ }else{ _%>
                                        NO
                                    <%_ } _%>
                                </div>
                                <hr>
                                <div class="skill-and-experience-text">
                                    Skills & Experiences: <%= user.User.Labourer.skills_experience %>
                                </div>
                                <button class="selectUser" data-userid="<%= user.User.Labourer.UserId %>">Select</button>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </aside>
    <%_ } else { _%>
            <div class="view-job-byId-card">
                <div class="post-new-job-title">Closed Job</div>

                <form class="postNewJob">
                    <fieldset disabled>
                        <div class="post-new-job-group">
                            <div class="form-group">
                              <label class="label-text"for="job-address">Address *</label>
                              <input type="text"  name= "address" id="job-address" class="form-control" value="<%= job.address %>">
                            </div>
                            <d  iv class="form-group">
                              <label class="label-text"for="job-suburb">Suburb *</label>
                              <input type="text"  name= "suburb" id="job-suburb" class="form-control" value="<%= job.suburb %>">
                            </d>
                        </div>
                        <div class="post-new-job-group">
                            <div class="form-group">
                              <label class="label-text"for="job-city">City *</label>
                              <input type="text"  name= "city" id="job-city" class="form-control" value="<%= job.city %>">
                            </div>
                            <div class="form-group">
                              <label class="label-text"for="job-state">State *</label>
                              <input type="text"  name= "state" id="job-state" class="form-control" value="<%= job.state %>">
                            </div>
                            <div class="form-group">
                              <label class="label-text"for="job-postcode">Postcode *</label>
                              <input type="text"  name= "postcode" id="job-postcode" class="form-control" value="<%= job.postcode %>">
                            </div>
                        </div>
                        <div class="post-new-job-group group2">
                            <div class="form-group">
                              <label class="label-text" for="start-date">Start Date *</label>
                              <input type="date" class="form-control" id="start-date" name="start_date" value="<%= job.start_date %>">
                            </div>
                            <div class="form-group">
                              <label class="label-text" for="end-date">End Date *</label>
                              <input type="date" class="form-control" id="end-date" name="end_date" value="<%= job.end_date %>">
                            </div>
                        </div> 
                        <div class="post-new-job-group group2">
                            <div class="form-group">
                              <label class="label-text" for="site-manager">Site Manager *</label>
                              <input type="text" class="form-control" id="site-manager" name="site_manager" value="<%= job.site_manager %>">
                            </div>
                            <div class="form-group">
                              <label class="label-text" for="labour-quantity">Number of Labourer Required *</label>
                              <input type="number" class="form-control" id="labour-quantity" name="number_of_labourers" value="<%= job.number_of_labourers %>" min="1" max="20" data-numberOfLabourers="<%= job.number_of_labourers %>">
                            </div>
                        </div>
                        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span> <span class="msg">  Please fill in all the compulsory fields</span>
                        </div>

                    </fieldset>
                </form>
            </div>
        </main>
        <aside class="col-sm-3" id="list-of-applicants-col">
            <div class="list-of-applicants-card">
                <div>List of Applicants </div>
                <br>
                <% for (let user of applicants){ %>
                    <%_ if (user.chosen == true){ _%>
                        <div class="userCard flip-card" data-userid="<%= user.User.Labourer.UserId %>">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="labourer-photo-background selected-labourer-photo">
                                        <img src="/asset/images/user-icon.svg" alt="user-photo" class="labourer-photo ">
                                    </div>
                                    <div class="labourer-name-front-side selected-labourer-name"><%= user.User.Labourer.first_name + " " + user.User.Labourer.last_name %></div>
                                </div>
                                <div class="flip-card-back">
                                    <div>Name: <%= user.User.Labourer.first_name + " " + user.User.Labourer.last_name %> </div>
                                    <hr>
                                    <div>Driver Licence: 
                                        <%_ if (user.User.Labourer.driver_license){ _%>
                                            YES
                                        <%_ }else{ _%>
                                            NO
                                        <%_ } _%>
                                    </div>
                                    <hr>
                                    <div>Whitecard: 
                                        <%_ if (user.User.Labourer.whitecard){ _%>
                                            YES
                                        <%_ }else{ _%>
                                            NO
                                        <%_ } _%>
                                    </div>
                                    <hr>
                                    <div class="skill-and-experience-text">
                                        Skills & Experiences: <%= user.User.Labourer.skills_experience %>
                                    </div>
                                    <div class="selectedUserBtn" data-userid="<%= user.User.Labourer.UserId %>">Selected</div>
                                </div> 
                            </div>
                        </div>
                    <%_ } _%>
                <%_ } _%>
            </div>
        </aside>
    <%_ } _%>
    
</div>


<%- include('partials/footer') %>
<script src='/js/employer.js'></script>
</body>
</html>

