<%- include('partials/head',{title:'labourer'}) %>

<%- include('partials/navbar') %>


  <div class="row">
    <div class="col-2" id="sidebarCol">
            <%- include('partials/sidebar-labourer',{highlightDashboard: '', highlightAppliedJob: '', highlightSearchJob:'highlight', name: `${name}` }) %>
    </div>
    <div class="col-10" id="mainCol">
      <div class="view-posted-jobs-card">
        <div class="view-posted-jobs-title">Available Jobs</div>
        <div class="appliedJobs table-responsive">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Job Address</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Site Manager</th>
                  <th scope="col">Labourers Required</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% let hash = 1 %>
                  <%_ for (let job of jobs){ _%>
                    <%_ if (job.job_status === 'open'){ _%>
                        <th scope="row" class ="labourerOpen"><%= hash %></th>
                        <td>
                          <i class="fas fa-map-marked-alt map-icon" data-jobAddress="<%= `${job.address},${job.suburb},${job.city},${job.state},${job.postcode}` %>"></i>
                          <%= `${job.address}, ${job.suburb}, ${job.city}, ${job.state}, ${job.postcode}` %>
                        </td>
                        <td><%= job.start_date.split("-").reverse().join("-") %></td>
                        <td><%= job.end_date.split("-").reverse().join("-") %></td>
                        <td><%= job.site_manager %></td>
                        <td><%= job.number_of_labourers %></td>
                        <td><button class="btn btn-apply" data-jobID="<%= job.dataValues.id %>" data-status="withdrawn" >Apply</button></td>  
                    <%_ } _%>
                </tr>
                    <% hash++ %>
                <%_ } _%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/jobsearch.js"></script>
  <script src="/js/labourer.js"></script>



<%- include('partials/footer') %>
