<%- include('partials/head',{title:'labourer'}) %>

<%- include('partials/navbar') %>


  <div class="row">
    <div class="col-sm-2" id="sidebarCol">
            <%- include('partials/sidebar-labourer', {highlightDashboard: 'highlight', highlightAppliedJob: '', highlightSearchJob:'', name: `${name}` }) %>
    </div>
    <div class="col-sm-10" id="mainCol">
      <!-- <h2>Welcome: <%# labourerName %></h2> -->
      <br>
      <div><button id="searchJobsBtn"> Search Jobs</button></div>
      <br>
      <h3>Upcoming Job</h3>
      <div class="appliedJobs">
        <%_ for (let job of applied){ _%>
            <div class="card jobCard labourerSelected" data-jobID="<%= job.dataValues.id %>">
              <div class="card-header">
                <%= job.dataValues.Job.address %>
              </div>
              <div class="card-body">
                <p class="card-text">Start Date: <%= job.dataValues.Job.start_date %> </p>
                <p class="card-text">End Date: <%= job.dataValues.Job.end_date %> </p>
                <p class="card-text">Site Manager: <%= job.dataValues.Job.site_manager %> </p>
                <p class="card-text">Status: Chosen </p>
              </div>
            </div> 
        <%_ } _%>
                
      </div>
    </div>
  </div>


    <footer>

    </footer>

    <script src="/js/labourer.js"></script>
</body>
</html>
