<%- include('partials/head',{title:'labourer'}) %>

<%- include('partials/navbar') %>


  <div class="row">
    <div class="col-sm-2" id="sidebarCol">
            <%- include('partials/sidebar-labourer', {highlightDashboard: 'highlight', highlightAppliedJob: '', highlightSearchJob:'', name: `${name}` }) %>
    </div>
    <div class="col-sm-10" id="mainCol">
  
      <div class="dashboard-header">Upcoming Job</div>
      <div class=" row postedJobs">
        <%_ for (let job of applied){ _%>
          <div class="col-sm-4">
            <div class="card jobCard" data-applied-id="<%= job.id %>">
              <div class="card-header closedStatus ">
                <i class="fas fa-check-circle" id="tick-icon"></i>
                  <div>
                    <p class="card-header-text">Upcoming Job</p>
                  </div>
                  <button class="view-job-btn" data-jobid="<%= job.Job.id %>"> View Job</button>
              </div>
              <div class="card-body dashboard-cardBody">
                <div class="job-address">
                  <i class="fas fa-map-marked-alt map-icon" data-jobAddress="<%= `${job.Job.address},${job.Job.suburb},${job.Job.city},${job.Job.state},${job.Job.postcode}` %>"></i>
                  <span class="job-address-text">
                    <div><%= `${job.Job.address.toUpperCase()}` %></div>
                    <div><%= `${job.Job.suburb.toUpperCase()}` %></div>
                    <div><%= `${job.Job.city.toUpperCase()}, ${job.Job.state.toUpperCase()}, ${job.Job.postcode.toUpperCase()}` %></div>
                  </span>
                </div>
                <hr>
                <p class="card-text"><strong class="strong-text">Start Date</strong> <span class="colon">:</span><%= job.dataValues.Job.start_date.split("-").reverse().join("-") %> </p>
                <p class="card-text"> <strong class="strong-text">End Date</strong> <span class="colon">:</span><%= job.dataValues.Job.end_date.split("-").reverse().join("-") %> </p>
                <p class="card-text"><strong class="strong-text">Site Manager</strong> <span class="colon">:</span><%= job.dataValues.Job.site_manager %> </p>
              </div>
            </div> 
          </div>
            
        <%_ } _%>
                
      </div>
    </div>
  </div>


    <footer>

    </footer>

    <script src="/js/labourer.js"></script>
</body>
</html>
