<%- include('partials/head',{title:'labourer'}) %>

<%- include('partials/navbar') %>


  <div class="row" >
    <div class="col-sm-2" id="sidebarCol">
            <%- include('partials/sidebar-labourer',{highlightDashboard: '', highlightAppliedJob: 'highlight', highlightSearchJob:'', name: `${name}` }) %>
    </div>
    <main class="col-sm-10" id="mainCol">
      <div class="view-posted-jobs-card">
        <div class="view-posted-jobs-title">All Applied Job</div>
        <div class="appliedJobs table-responsive">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Job Address</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Site Manager</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <% let hash = 1 %>
                <%_ for (let job of applied){ _%>
                    <%_ if (job.dataValues.chosen === true){ _%>
                        <th scope="row" class ="labourerSelected"><%= hash %></th>
                    <%_ } else if (job.dataValues.chosen === null) { _%>
                        <th scope="row" class ="labourerOpen"><%= hash %></th>
                    <%_ } else { _%>
                        <th scope="row" class ="labourerLost"><%= hash %></th>
                    <%_ } _%>
                        
                        <td>
                          <i class="fas fa-map-marked-alt map-icon" data-jobAddress="<%= `${job.Job.address},${job.Job.suburb},${job.Job.city},${job.Job.state},${job.Job.postcode}` %>"></i>
                          <%= `${job.Job.address}, ${job.Job.suburb}, ${job.Job.city}, ${job.Job.state}, ${job.Job.postcode}` %>
                        </td>
                        <td><%= job.dataValues.Job.start_date.split("-").reverse().join("-") %></td>
                        <td><%= job.dataValues.Job.end_date.split("-").reverse().join("-") %></td>
                        <td><%= job.dataValues.Job.site_manager %></td>
                        <%_ if (job.dataValues.chosen === true){ _%>
                            <td>Selected</td>
                            <td></td>
                        <%_ } else if (job.dataValues.chosen === null) { _%>
                            <td>Open</td>
                            <td><button class="resignBtn" data-jobAddress="<%= job.dataValues.Job.address%>">Withdraw</button></td>  
                        <%_ } else { _%>
                            <td>Lost</td>
                            <td></td>
                        <%_ } _%>
                  </tr>
                    <% hash++ %>
                <%_ } _%>
            </tbody>
          </table>
        </div>
      </div>

    </main>
  </div>


    <footer>

    </footer>

    <script src="/js/labourer.js"></script>
</body>
</html>
